doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Concise UI - Concise Framework
    meta(name='description' content='Concise is a lightweight front-end framework that provides a number of great features without the bloat.')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='//use.typekit.net/qxv5yfg.js')
    script try{Typekit.load({ async: true });}catch(e){}

    link(rel='stylesheet' href='/styles/concise.css')

  body
    header(container)
      nav.main-nav
        a(href='/'): img(class='logo animated' src='/images/logo2.svg' alt='Concise Logo')
        ul
          li: a(href='/documentation' class=current.path[0] === 'documentation' ? 'active' : '') Documentation
          li: a(href='/concise-ui' class=current.path[0] === 'concise-ui' ? 'active' : '') Concise UI
          li: a(href='/archive/v2.0.0') v2 Docs

    section(container)
      div(row)
        div(column='8')
          != yield

        nav(column='3 +1').docs-nav
          ul
            li: a(href='/concise-ui/' class=current.source === 'index' ? 'active' : '') Alerts
            li: a(href='/concise-ui/badges-labels' class=current.source === 'badges-labels' ? 'active' : '') Badges & Labels
            li: a(href='/concise-ui/breadcrumbs' class=current.source === 'breadcrumbs' ? 'active' : '') Breadcrumbs
            li: a(href='/concise-ui/buttons' class=current.source === 'buttons' ? 'active' : '') Buttons
            li: a(href='/concise-ui/cards' class=current.source === 'cards' ? 'active' : '') Cards
            li: a(href='/concise-ui/collections' class=current.source === 'collections' ? 'active' : '') Collections
            li: a(href='/concise-ui/dropdowns' class=current.source === 'dropdowns' ? 'active' : '') Dropdowns
            li: a(href='/concise-ui/groups' class=current.source === 'groups' ? 'active' : '') Groups
            li: a(href='/concise-ui/modals' class=current.source === 'modals' ? 'active' : '') Modals
            li: a(href='/concise-ui/progress' class=current.source === 'progress' ? 'active' : '') Progress
            li: a(href='/concise-ui/spinner' class=current.source === 'spinner' ? 'active' : '') Spinner
            li: a(href='/concise-ui/tooltips' class=current.source === 'tooltips' ? 'active' : '') Tooltips

    include ../includes/_footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script
      | window.jQuery || document.write('<script src="../scripts/vendor/jquery-2.1.4.min.js"><\/script>')
    script(src='../scripts/plugins.js')
    script(src='../scripts/main.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalytics}','auto');ga('send','pageview');
