doctype
html(lang='en').docs-root
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Documentation - Concise Framework
    meta(name='description' content='Concise is a lightweight front-end framework that provides a number of great features without the bloat.')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='//use.typekit.net/qxv5yfg.js')
    script try{Typekit.load({ async: true });}catch(e){}

    link(rel='stylesheet' href='/styles/concise.css')

  body

    // == Main content
    main.docs
      div(container)
        != yield
        
        include ../includes/_footer

    // === Navigation button
    a(href="#").nav-button Menu
      span.nav-icon

    // === Navigation section
    .nav
      .nav-wrapper(row)
        div(column)
          a(href='/').logo.animated: img(src='/images/logo2.svg' alt='Concise Logo')

          nav
            ul.nav-main
              li: a(href='/') Home
              li: a(href='/archive/v2.0.0/') Concise v2 (Legacy)
              li: a(href='/documentation' class=current.source === 'index' ? 'active' : '') Getting Started

        div(column=6)
          h2 Core

          nav
            ul
              li: a(href='/documentation/core/typography' class=current.source === 'typography' ? 'active' : '') Typography
              li: a(href='/documentation/core/headings' class=current.source === 'headings' ? 'active' : '') Headings
              li: a(href='/documentation/core/lists' class=current.source === 'lists' ? 'active' : '') Lists
              li: a(href='/documentation/core/buttons' class=current.source === 'buttons' ? 'active' : '') Buttons
              li: a(href='/documentation/core/code' class=current.source === 'code' ? 'active' : '') Code
              li: a(href='/documentation/core/forms' class=current.source === 'forms' ? 'active' : '') Forms
              li: a(href='/documentation/core/tables' class=current.source === 'tables' ? 'active' : '') Tables
              li: a(href='/documentation/core/grid' class=current.source === 'grid' ? 'active' : '') Grid System
              li: a(href='/documentation/core/alignment' class=current.source === 'alignment' ? 'active' : '') Alignment
              li: a(href='/documentation/core/breakpoints' class=current.source === 'breakpoints' ? 'active' : '') Breakpoints
              li: a(href='/documentation/core/fluid-media' class=current.source === 'fluid-media' ? 'active' : '') Fluid Media
              li: a(href='/documentation/core/conditional' class=current.source === 'conditional' ? 'active' : '') Conditional Styling
              li: a(href='/documentation/core/colors' class=current.source === 'colors' ? 'active' : '') Colors
              li: a(href='/documentation/core/screen-reader' class=current.source === 'screen-reader' ? 'active' : '') Screen Reader
              li: a(href='/documentation/core/misc' class=current.source === 'misc' ? 'active' : '') Misc

        div(column=6)
          h2 Concise UI

          nav
            ul
              li: a(href='/documentation/concise-ui/alerts' class=current.source === 'alerts' ? 'active' : '') Alerts
              li: a(href='/documentation/concise-ui/badges-labels' class=current.source === 'badges-labels' ? 'active' : '') Badges & Labels
              li: a(href='/documentation/concise-ui/breadcrumbs' class=current.source === 'breadcrumbs' ? 'active' : '') Breadcrumbs
              li: a(href='/documentation/concise-ui/buttons' class=current.source === 'buttons' ? 'active' : '') Buttons
              li: a(href='/documentation/concise-ui/cards' class=current.source === 'cards' ? 'active' : '') Cards
              li: a(href='/documentation/concise-ui/collections' class=current.source === 'collections' ? 'active' : '') Collections
              li: a(href='/documentation/concise-ui/dropdowns' class=current.source === 'dropdowns' ? 'active' : '') Dropdowns
              li: a(href='/documentation/concise-ui/groups' class=current.source === 'groups' ? 'active' : '') Groups
              li: a(href='/documentation/concise-ui/modals' class=current.source === 'modals' ? 'active' : '') Modals
              li: a(href='/documentation/concise-ui/progress' class=current.source === 'progress' ? 'active' : '') Progress
              li: a(href='/documentation/concise-ui/s pinner' class=current.source === 'spinner' ? 'active' : '') Spinner
              li: a(href='/documentation/concise-ui/tooltips' class=current.source === 'tooltips' ? 'active' : '') Tooltips


    

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script
      | window.jQuery || document.write('<script src="../../scripts/vendor/jquery-2.1.4.min.js"><\/script>')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.5/js/min/perfect-scrollbar.jquery.min.js')
    script(src='../../scripts/main.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalytics}','auto');ga('send','pageview');
